body{
    background-color: #bdb3a294;
    margin: 0;
    padding: 0;
    font-family: 'Calibri,';
}



.Header{
    background-color: #6e6662;
    position:sticky;
    z-index: 999;
    top: -10px;
    opacity: .8;
}



.Header img {
    display: inline-block;
     object-position: -40px 18px; 
     overflow: visible;
    color: #ffffff;
}



.Header ul {
    text-align: center;
   padding-top:20px ; 
 padding-bottom:20px ;
 text-decoration: none;
}
.Header li{
    display: inline-block;
    text-align: center;
}
.Header li a {
    display:inline-block;
    height: auto;
    width: 159px;
    color: #333333;
    background-color:#f5f5f5;
    padding:10px;
    margin: 4px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}
.Header li a:hover {
    background-color: wheat;
}


#start{

   position: absolute; 

}





.Main{
    overflow:auto;
    text-align:center;
    padding-top:20px;
    padding-bottom: 20px;
}


.Main p{
    font-family: 'Calibri,';
    font-size: larger;



}

.Main img {
    opacity: 70%;
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    align-items: flex;
    box-shadow: 7px 7px 20px #e4d9cb;
}

.Main h1 {

    font-size: 30px;
    color: #6b4e45 ;
    background-color: #ededed ;
    display: inline-block;
    border: black;
    border-style: solid;
    padding: 5px;
    border-width: 2px;
    border-radius: 6px;
}

.Main h2 {
    font-size: 30px;
    color: #6b4e45 ;
    background-color: #ededed ;
    display: inline-block;
    border: black;
    border-style: solid;
    padding: 5px;
    border-width: 2px;
    border-radius: 6px;

}








.mpic{
    position: relative;
}
.mpic img{

    max-width: 100%;
    height: auto;
}
.mptx{
    position: absolute;
    top: 0;
    color: #eae1d2;
    font-size: 100px;
    padding-right: 820px;
    padding-top: 180px;
}
.mptx h4{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Calibri,';
}





#ev{
    font-size: 30px;
    color: #6b4e45 ;
    background-color: #ededed ;
    display: inline-block;
    border: black;
    border-style: solid;
    padding: 5px;
    border-width: 2px;
    border-radius: 6px;
}

.tt{
    text-align: center;
    align-items: center;
}





.pics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pics img{

    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}


.p1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}


.tx1{
    top: 0;
    color: #6b4e45;
    position: absolute;
    padding-top:180px;
    padding-right: 70px;
    font-size: large;
}

#t1{
    top: 0;
    color: #6b4e45;
    position: absolute;
    padding-top:190px;
    padding-right: 70px;
    font-size: 2em;
}








footer {
    background-color: #6b4e45 ;
}
.cc ul{
    display: inline-block;
    text-align: center;
    text-decoration: none;

}

.cc li {
    display: inline-block;
    text-align: center;
    padding: 70px;
    margin-bottom: 10px;

}

.cc img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.cc h2 {
    text-decoration: none;
    color: white;
}
